.form-container {
  border: 1px solid rgba(0, 0, 0, 0.254);
  box-shadow: rgba(0, 0, 0, 0.332) 0px 0px 18px 1px;
  border-radius: 22px;
  width: 400px;
  padding-left: 7%;
  text-align: center;

  padding-bottom: 15px;
  .form {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: center;

    .inputs {
      width: 80%;
      border: 0.1px solid rgba(0, 0, 0, 0.237);
      height: 25px;
      border-radius: 5px;
      margin-bottom: 30px;
      text-align: center;
    }
    label {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 4px;
    }
  }
}
.step2-buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  button {
    width: 40%;
  }
  #submit-btn {
    background-color: rgba(0, 0, 0, 0.418);
    color: white;
  }
  #submit-btn:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

button {
  border: 0.01px solid rgba(0, 0, 0, 0.065);
  border-radius: 5px;
  width: 40%;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.12);
  color: black;
}
.next-btn, .done-btn {
  width: 90%;
  background-color: black;
  height: 30px;
  color: white;
  
}
.thank-you-container {
  text-align: center;
  p {
    font-size: 1.2rem;
    font-weight: bold;
  }
}
.custom-select {
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"%3E%3Cpath fill="black" d="M2 0L0 2h4zm0 5L0 3h4z"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
}
